@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
  }

}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.mce-notification.mce-in {
  display: none;
}

.tox-notification { display: none !important }

.leaflet-popup-content {
  margin: 0;
  width: 320px !important;
  height: 280px;
}

.leaflet-popup-content-wrapper {
  padding: 0;
}