extends base

block content
  h2.font-bold.text-2xl.mt-5.my-3 Hi #{name},
  p.text-lg.font-light.mb-2 We’ve received a request to reset your password. 
  p.text-lg.font-light If you didn’t make the request, just ignore this message. Otherwise, you can reset your password. 
  
  .py-10.px-10.mt-4.border.border-gray-300
    .mt-4
      a.block.btn.btn-link.text-center(href=`${url}`, target='_blank') Reset your password
    p.text-lg.font-light.my-2 Thanks,
    p.text-lg.font-light The Airbnb Team